@import '../../scss/style.scss';

.variableWrapper {
  margin: auto 0;
  .content {
    border: 3px solid var(--color-variable-header);
    border-radius: 10px;
    height: 28.125rem;
    background-color: var(--color-text-bg);
    position: relative;
    header {
      @include set-flex-row-center;
      justify-content: space-between;
      background-color: var(--color-variable-header);
      color: var(--color-header-text);
      padding: 20px 30px;
      border-radius: 10px 10px 0 0;
      font: {
        family: $surround;
        size: $lg;
      }
      letter-spacing: 2px;
      .icon {
        font-size: 2.1875rem;
      }
      span {
        text-decoration: underline;
        text-underline-position: under; // 너무 붙어있는 밑줄 띄우기
      }
    }
    .result {
      @include set-flex-col-center;
      position: absolute;
      justify-content: center;
      padding: 10px;
      width: 100%;
      height: 80%;
      text-align: center;
      color: var(--color-variable-text);
      font: {
        family: $surround;
        size: $xl;
      }
      span {
        color: $l4;
      }
      .variableResult {
        .question {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          margin-top: 30px;
          margin-bottom: 10px;
          padding: 0 10px;
          line-height: 1.5;
        }
        .arrow {
          position: absolute;
          width: 100%;
          top: 20%;
          left: 0;
          margin: 20px 0;
          color: var(--color-arrow);
        }
        .answer {
          position: absolute;
          width: 100%;
          top: 35%;
          left: 0;
          margin-top: 20px;
          padding: 0 10px;
          line-height: 1.5;
        }
        .cases {
          margin: {
            top: 50px;
            bottom: 5px;
          }
          padding: {
            left: 50px;
            right: 50px;
            bottom: 20px;
          }
          position: absolute;
          justify-content: space-between;
          @include set-flex-row-center;
          width: 100%;
          left: 0;
          bottom: 0;
          overflow-x: auto;
          &::-webkit-scrollbar {
            width: 90%;
            height: 8px;
          }
          &::-webkit-scrollbar-track {
            background-color: var(--color-scrollbar-track);
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            width: 2px;
            background: var(--color-scrollbar-thumb);
            border-radius: 10px;
          }
          &::-webkit-scrollbar-button {
            display: block;
          }
        }
      }
      .loading {
        font: {
          family: $surround;
          size: $xl;
        }
        > p {
          margin: 10px 0;
        }
        > span {
          color: $l4;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .variableWrapper {
    .content {
      height: 25rem;
      header {
        padding: 15px 25px;
        font-size: $md;
      }
      .result {
        font-size: $lg;
      }
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .variableWrapper {
    .content {
      height: 28.125rem;
      header {
        font-size: $reg;
        .icon {
          font-size: 1.875rem;
        }
      }
      .result {
        font-size: $md;
        .loading {
          font-size: $lg;
        }
        .variableResult .cases {
          padding-bottom: 40px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .variableWrapper {
    .content {
      header {
        font-size: $sm;
        .icon {
          font-size: 1.25rem;
        }
      }
      .result {
        font-size: $reg;
        .loading {
          font-size: $md;
        }
        .variableResult .cases {
          padding-bottom: 30px;
        }
      }
    }
  }
}
