@import '../../scss/style.scss';

.profile {
  display: flex;
  margin-top: 15px;
  .profileImg {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
  }
  .introduce {
    @include set-flex-col-center;
    justify-content: center;
    margin: 0 10px;
    .sns {
      display: flex;
      align-items: center;
      margin: 10px 0;
      .icon {
        margin: 0 5px;
        font-size: $lg;
      }
      .github {
        color: black;
      }
      .velog {
        color: #11b48a;
      }
      .tistory {
        color: #f05032;
        font-size: $md;
      }
    }
  }
}
.content {
  margin: 15px 0;
}
