@import '../../scss/style.scss';

.title {
  display: flex;
  justify-content: center;
  font-size: $md;
  .icon {
    margin-right: 8px;
  }
}
.historyList {
  width: 100%;
  border-radius: 5px;
  padding: {
    top: 5px;
    bottom: 5px;
    left: 15px;
    right: 10px;
  }
  margin-top: 10px;
  background-color: var(--color-sidebar-search);
  height: 250px;
  overflow-y: auto;
  color: var(--color-sidebar-search-text);
  &::-webkit-scrollbar {
    width: 8px;
    height: 100%;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--color-sidebar-scroll-track);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 3px;
    background: var(--color-sidebar-scroll-thumb);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  &::-webkit-scrollbar-button {
    display: block;
  }
  .historyItem {
    display: flex;
    font-size: $sm;
    border-bottom: 1px solid var(--color-sidebar-search-border);
    span {
      flex: 10 1 auto;
    }
    .deleteButton {
      justify-self: flex-end;
      flex: 1 1 auto;
    }
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: $reg;
  }
  .historyList .historyItem {
    padding: 10px 0;
  }
}
