@import '../../scss/style.scss';

.title {
  display: flex;
  justify-content: center;
  font-size: $md;
  .icon {
    margin-right: 8px;
  }
}
.historyList {
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 10px;
  background-color: var(--color-sidebar-search);
  height: 250px;
  overflow-y: scroll;
  color: var(--color-sidebar-search-text);
  .historyItem {
    display: flex;
    font-size: $sm;
    border-bottom: 1px solid var(--color-sidebar-search-border);
    span {
      flex: 10 1 auto;
    }
    .deleteButton {
      justify-self: flex-end;
      flex: 1 1 auto;
    }
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: $reg;
  }
  .historyList .historyItem {
    padding: 10px 0;
  }
}
