@import '../../scss/style.scss';

.title {
  display: flex;
  justify-content: center;
  font-size: $md;
}
.historyList {
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 10px;
  background-color: var(--color-sidebar-search);
  height: 250px;
  overflow-y: scroll;
  color: var(--color-sidebar-search-text);
  .historyItem {
    display: grid;
    grid-template-columns: 10fr 0.5fr;
    font-size: $sm;
    border-bottom: 1px solid var(--color-sidebar-search-border);
    .deleteButton {
      justify-self: flex-end;
    }
  }
}
