@import '../../scss/style.scss';

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  // justify-content: space-around;
  position: fixed, relative;
  left: 0;
  width: 260px;
  height: 100%;
  padding: 1.25rem 0.9375rem;
  border-right: 3px solid var(--color-sidebar-border);
  font-family: $surroundAir;
  font-size: $md;
  background-color: var(--color-sidebar);
  color: white;
  section {
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px 15px;
    ul {
      li {
        display: flex;
        padding: 15px 0;
        justify-content: center;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .icon {
    font-weight: bold;
    margin-right: 8px;
  }

  .navLink {
    flex-grow: 1;
    margin-top: 0;
    .navBar {
      .logo {
        display: flex;
        align-items: center;
        padding-top: 0;
        font-family: $surround;
        .logoIcon {
          align-items: last baseline;
          font-size: $xxl;
          margin-right: 8px;
        }
      }
    }
  }
  .history {
    padding: 0;
    flex-grow: 1;
  }
  .options {
    align-self: baseline;
    width: 100%;
    border: 1px solid var(--color-sidebar-search);
  }
}
