@import '../scss/style.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4.375rem 8.75rem 5rem;
  width: 100%;
  height: 100%;
  .variableWrapper {
    .content {
      border: 3px solid var(--color-variable-header);
      border-radius: 10px;
      height: 450px;
      background-color: var(--color-text-bg);
      position: relative;
      header {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: var(--color-variable-header);
        color: var(--color-variable-header-text);
        padding: 20px 30px;
        border-radius: 10px 10px 0 0;
        font: {
          family: $surround;
          size: $lg;
        }
        letter-spacing: 2px;
        .icon {
          font-size: 2.1875rem;
        }
        span {
          text-decoration: underline;
          text-underline-position: under; // 너무 붙어있는 밑줄 띄우기
        }
      }
      .result {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        height: 80%;
        text-align: center;
        color: var(--color-variable-text);
        font: {
          family: $surround;
          size: $xxl;
        }
        span {
          color: var(--color-variable-accent);
        }
        .arrow {
          margin: 20px 0;
          color: var(--color-arrow);
        }
        .changedCase {
          margin-top: 50px;
          display: flex;
          align-items: stretch;
          // justify-content: space-between;
          font: {
            family: $surroundAir;
            size: $xl;
          }
          .case {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 30px;
            .caseName {
              height: 40px;
              display: flex;
              align-items: center;
              font: {
                family: $surround;
                size: $md;
              }
              letter-spacing: 1.5px;
              > img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                // text-align: center;
                margin-right: 10px;
              }
              .pascalImg {
                width: 40px;
                height: 40px;
                margin-right: 3px;
              }
            }
            > p {
              margin-top: 10px;
            }
          }
        }
      }
    }
    .toDictionary {
      display: flex;
      justify-content: end;
      margin: 10px 0;
      color: var(--color-text);
      font: {
        size: $reg;
        family: $surroundAir;
      }
    }
  }

  .searchWrapper {
    width: 100%;
    color: var(--color-text);
    font: {
      family: $surroundAir;
      size: $reg;
    }
    margin-top: 50px;
    .chooseCase {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .search {
      display: flex;
      border: 3px solid var(--color-search-border);
      border-radius: 10px;
      margin-top: 20px;
      align-items: center;
      background-color: var(--color-text-bg);
      padding: 10px 0;
      .icon {
        font-size: $xxl;
        margin: 0 30px;
      }
      input {
        color: var(--color-variable-text);
        font: {
          family: $surroundAir;
          size: $md;
        }
        padding: 10px 0;
        width: 100%;
        &::placeholder {
          color: var(--color-variable-text);
        }
      }
    }
  }
}
