@import '../scss/style.scss';

.searchWrapper {
  width: 100%;
  color: var(--color-text);
  font: {
    family: $surroundAir;
    size: $reg;
  }
  margin: auto 0;
  .search {
    @include set-flex-row-center;
    border: 3px solid var(--color-search-border);
    border-radius: 0.625rem;
    margin-top: 1.25rem;
    background-color: var(--color-text-bg);
    padding: 0.625rem 0;
    .icon {
      font-size: $xxl;
      margin: 0 1.875rem;
    }
    input {
      color: var(--color-variable-text);
      font: {
        family: $surroundAir;
        size: $md;
      }
      padding: 0.625rem 0;
      width: 100%;
      &::placeholder {
        color: var(--color-variable-text);
      }
    }
  }
}

@media (max-width: 1024px) {
  .searchWrapper {
    margin-bottom: 1.25rem;
    .search {
      margin: 0.625rem 0;
      padding: 0.3125rem 0;
      .icon {
        font-size: $xl;
        margin: {
          left: 1.25rem;
          right: 0.9375rem;
        }
      }
      input {
        font-size: $reg;
      }
      button > .icon {
        margin: {
          left: 5px;
          right: 13px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .searchWrapper {
    margin-bottom: 0;
    .search {
      margin: 1.25rem 0;
      input {
        font-size: $sm;
      }
    }
  }
}
