@import '../scss/style.scss';

.searchWrapper {
  width: 100%;
  color: var(--color-text);
  font: {
    family: $surroundAir;
    size: $reg;
  }
  margin: auto 0;
  label {
    @include set-flex-row-center;
    width: 100%;
    text-align: left;
    color: var(--color-variable-text);
    margin: 0.625rem 0;
    .icon {
      font-size: $md;
      margin: 0 0.9375rem;
    }
  }
  .search {
    @include set-flex-row-center;
    border: 3px solid var(--color-search-border);
    border-radius: 0.625rem;
    background-color: var(--color-text-bg);
    padding: 0.625rem 0;
    margin-bottom: 1.25rem;
    input {
      color: var(--color-variable-text);
      overflow-x: scroll;
      font: {
        family: $surroundAir;
        size: $reg;
      }
      padding: {
        top: 0.625rem;
        bottom: 0.625rem;
        left: 1.25rem;
        right: 0;
      }
      width: 100%;
      &::placeholder {
        color: var(--color-variable-text);
      }
      &:placeholder-shown {
        text-overflow: ellipsis;
      }
    }
    .icon {
      font-size: $xl;
      margin-right: 1.25rem;
    }
  }
}

@media (max-width: 1024px) {
  .searchWrapper {
    margin-bottom: 1.25rem;
    label .icon {
      font-size: $reg;
      margin: 0 0.9375rem;
    }
    .search {
      padding: 0.3125rem 0;
    }
  }
}

@media (max-width: 768px) {
  .searchWrapper {
    margin-bottom: 0;
    font-size: $sm;
    .search {
      input {
        font-size: $sm;
      }
      .icon {
        font-size: $md;
      }
    }
  }
}

@media (max-width: 375px) {
  .searchWrapper {
    font-size: $xs;
    .search input {
      font-size: $xs;
    }
  }
}
