@import '../../scss/style.scss';

.feedback {
  @include set-flex-col-center;
  position: absolute;
  @include set-wh100;
  top: 0;
  left: 0;
  padding: 40px;
  color: var(--color-header-text);
  .title {
    margin: {
      top: 10px;
      bottom: 30px;
    }
    font: {
      family: $surround;
      size: $xxl;
    }
  }
  .form {
    @include set-flex-col-center;
    @include set-wh100;
    justify-content: center;
    margin: auto 0;
    .content {
      width: 90%;
      height: 80%;
      padding: 20px 23px;
      border-radius: 10px;
      border: 3px solid var(--color-modal-textarea-border);
      background-color: var(--color-modal-bg);
      letter-spacing: 1px;
      text-align: center;
      color: var(--color-text);
      font: {
        family: $surroundAir;
        size: $reg;
      }
      resize: none;
    }
    .submit {
      color: var(--color-variable-text);
      margin: {
        top: 30px;
        bottom: 10px;
      }
      padding: 0.5rem 0.9375rem;
      border-radius: 8px;
      border: 3px solid var(--color-modal-submit-border);
      transition: box-shadow 300ms ease-in-out;
      box-shadow: -7px -7px 20px 0px var(--color-modal-submit-shadow0),
        -4px -4px 5px 0px var(--color-modal-submit-shadow0),
        7px 7px 20px 0px var(--color-modal-submit-shadow2),
        4px 4px 5px 0px var(--color-modal-submit-shadow1);
      font: {
        family: $surround;
        size: $md;
      }
      &:hover {
        cursor: pointer;
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .feedback {
    .title {
      font-size: $xl;
      margin-bottom: 20px;
    }
    .form {
      .content {
        font-size: $sm;
      }
      .submit {
        margin-top: 20px;
        font-size: $reg;
      }
    }
  }
}

@media (max-width: 768px) {
  .feedback {
    .title {
      font-size: $lg;
      margin-bottom: 10px;
    }
    .form {
      .submit {
        margin-top: 15px;
        margin-bottom: 0;
        font-size: $sm;
      }
    }
  }
}

@media (max-width: 650px) {
  .feedback {
    padding: 0.9375rem 0.625rem;
    .title {
      margin-top: 1.25rem;
      font-size: $md;
    }
    .form {
      .content {
        font-size: $xs;
      }
      .submit {
        border: 2.5px solid var(--color-modal-submit-border);
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 375px) {
  .feedback {
    padding: 0.9375rem 0.625rem;
    .form {
      .content {
        padding: 10px 13px;
        font-size: $xxs;
      }
      .submit {
        border: 2px solid var(--color-modal-submit-border);
        margin-top: 0.9375rem;
        font-size: $xs;
      }
    }
  }
}
