@import '../../scss/style.scss';

.option {
  border-bottom: 1px solid vat(--color-sidebar-search);
  > button,
  > button > p {
    display: flex;
    color: white;
    font: {
      family: $surroundAir;
      size: $md;
    }
  }
}

@media (max-width: 1024px) {
  .option {
    > button,
    > button > p {
      font-size: $reg;
    }
  }
}
