@import '../../scss/style.scss';

.caseWrapper {
  @include set-flex-col-center;
  margin: 0 15px;
  .caseName {
    height: 40px;
    @include set-flex-row-center;
    letter-spacing: 1.5px;
    font: {
      family: $surround;
      size: $md;
    }
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      margin-right: 10px;
    }
  }
  &:last-child > .caseName > img {
    width: 40px;
    height: 40px;
    margin-right: 3px;
  }
  .changedCase {
    margin-top: 10px;
    font: {
      family: $surroundAir;
      size: $md;
    }
  }
}

@media (max-width: 1024px) {
  .caseWrapper {
    margin: 0 10px;
    .caseName,
    .changedCase {
      font-size: $reg;
    }
  }
}

@media (max-width: 576px) {
  .caseWrapper {
    .caseName,
    .changedCase {
      font-size: $sm;
    }
  }
}

@media (max-width: 375px) {
  .caseWrapper {
    margin: 0 8px;
    .caseName {
      font-size: $xs;
      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 10px;
      }
    }
    .changedCase {
      font-size: $xs;
    }
    &:last-child > .caseName > img {
      width: 30px;
      height: 30px;
      margin-right: 3px;
    }
  }
}
