@import '../../scss/style.scss';

.logo {
  flex: 0 1 auto;
  margin: 0;
  ul .logoBox {
    @include set-flex-row-center;
    font-family: $surround;
    .logoImg {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .logo ul .logoBox {
    padding-top: 5px;
    font-size: $md;
    .logoImg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 768px) {
  .logo ul .logoBox {
    @include set-flex-row-center;
    font: {
      family: $surround;
      size: $lg;
    }
    padding: 5px;
    .logoImg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 360px) {
  .logo ul .logoBox {
    font-size: $md;
    .logoImg {
      width: 25px;
      height: 25px;
    }
  }
}
