@import '../../scss/style.scss';

.modalBg {
  @include set-flex-col-center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.697);
  z-index: 1000;
  .modalBody {
    position: absolute;
    padding: 40px;
    width: 50rem;
    height: 33rem;
    text-align: center;
    background-color: var(--color-modal-body);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    .closeBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      border: none;
      color: rgba(0, 0, 0, 0.7);
      background-color: transparent;
      font-size: $xl;
      z-index: 1001;
      &:hover {
        color: $l4;
      }
    }
  }
}

@media (max-width: 1024px) {
  .modalBg .modalBody {
    width: 40.625rem;
    height: 28.125rem;
  }
}

@media (max-width: 768px) {
  .modalBg .modalBody {
    width: 37.5rem;
    height: 25rem;
  }
}

@media (max-width: 650px) {
  .modalBg .modalBody {
    width: 80%;
    height: 70%;
  }
}

@media (max-width: 375px) {
  .modalBg .modalBody .closeBtn {
    top: 15px;
    right: 15px;
    font-size: $sm;
  }
}
