@import '../../scss/style.scss';

.abbrWrapper {
  margin: auto 0;
  .content {
    border: 3px solid var(--color-variable-header);
    border-radius: 10px;
    height: 28.125rem;
    background-color: var(--color-text-bg);
    position: relative;
    header {
      display: flex;
      justify-content: space-between;
      text-align: center;
      background-color: var(--color-variable-header);
      color: var(--color-header-text);
      padding: 20px 30px;
      border-radius: 10px 10px 0 0;
      font: {
        family: $surround;
        size: $lg;
      }
      letter-spacing: 2px;
      .icon {
        font-size: 2.1875rem;
      }
      span {
        text-decoration: underline;
        text-underline-position: under; // 너무 붙어있는 밑줄 띄우기
      }
    }
    .result {
      @include set-flex-col-center;
      position: absolute;
      justify-content: center;
      padding: 10px;
      width: 100%;
      height: 80%;
      text-align: center;
      color: var(--color-variable-text);
      font: {
        family: $surround;
        size: $xl;
      }
      span {
        color: $l4;
      }
      .abbrResult {
        @include set-flex-col-center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        .question {
          width: 100%;
          margin-top: 30px;
          padding: 0 10px;
          line-height: 1.5;
        }
        .arrow {
          width: 100%;
          margin: 20px 0;
          color: var(--color-arrow);
        }
        .answer {
          @include set-flex-col-center;
          width: 100%;
          padding: 0 10px;
          .abbrList {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 100%;
            overflow-y: scroll;
            margin: {
              top: 10px;
              bottom: 5px;
            }
            .abbr {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 5px 0;
              width: 50%;
              font: {
                family: $surroundAir;
                size: $md;
              }
              > span {
                flex: 0 9 auto;
              }
              > p {
                flex: 1 1 auto;
              }
            }
            &::-webkit-scrollbar {
              width: 7px;
            }
            &::-webkit-scrollbar-track {
              background-color: var(--color-scrollbar-track);
              border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
              height: 2px;
              background: var(--color-scrollbar-thumb);
              border-radius: 10px;
            }
          }
        }
      }
      .loading {
        font: {
          family: $surround;
          size: $xl;
        }
        > p {
          margin: 10px 0;
        }
        > span {
          color: $l4;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .abbrWrapper {
    .content {
      height: 25rem;
      header {
        padding: 15px 25px;
      }
      .result {
        font-size: $lg;
      }
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .abbrWrapper {
    .content {
      height: 28.125rem;
      header {
        font-size: $reg;
        .icon {
          font-size: 1.875rem;
        }
      }
      .result {
        font-size: $md;
        height: 90%;
        .abbrResult {
          padding-bottom: 50px;
        }
      }
    }
  }
}
